<h1 class='text-center my-5'>READ ME Generator</h1>
<div class="card mb-5">
    <div class="card-header">
        <h4 class="text-center">Read Me Output File</h4>
    </div>
    <div class="card-body">
        <pre class="user-select-all">{{mdFileText}}</pre>
        <a class="download-link btn btn-success btn-lg mx-auto" href="{{mdFilePath}}" download>Download</a>
    </div>
</div>